
body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0%;
    margin-left: 0% ;
}
section{
    background-size: cover;
    background-position: center;
    
}
nav{
    position: fixed;
    top: 10px;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
}
nav ul{
    text-align: center;
    flex: 1;
    margin-left: 200px;
    
    
}

nav ul li{
    display: inline;
    padding-right: 30px;

    
}

    


nav a{
    color: black;
    text-decoration: none;
    
}
a:hover{
    
    color:dimgray;
    
    
}

.img-main{

   height: 850px;
   width: 1750px;
   background-image: url(https://tesla-cdn.thron.com/delivery/public/image/tesla/03e533bf-8b1d-463f-9813-9a597aafb280/bvlatuR/std/4096x2560/M3-Homepage-Desktop-LHD);
   margin-top: -10px;
   margin-right: 5px;
   
   
   
}
.logo{
    position: absolute;
    height: 18.75px;
    width: 110px;
    top: 14px;
    left: 50px;
}
.button{
    margin-right: 18px;
    padding: 10px;
}
.title{
    position: absolute;
    margin-left: 45%;
    margin-top: 5%;
    width: 300px;
    


}
.title h1{
    font-size: 40px;
    font-weight: bold;
    

}
.title u{
    position: absolute;
    margin-top: -25px;
}
.buy-buttons{
position: absolute;
margin-left: 36%;
margin-top: 41%;

}
.Buy{
    padding: 10px 80px;
    text-decoration: none;
    color: white;
    background-color:rgba(23, 26, 32, 0.8);
    border-radius: 5px;
    
}
.order{
    padding: 10px 70px;
    text-decoration: none;
    color: black;
    background-color:rgba(244, 244, 244, 0.65);
    border-radius: 5px;
}
.Shop{
    padding: 10px 70px;
    text-decoration: none;
    color: white;
    background-color:black;
    border-radius: 5px;
    margin-left: 150px;

}
 
    
    
    
    
    


.img-2{
    background-image: url(https://tesla-cdn.thron.com/delivery/public/image/tesla/8e2df1b9-a4bf-4eb9-beec-2cf5cc77fca0/bvlatuR/std/2880x2400/Desktop-ModelY?quality=70);
    height: 850px;
    width: 1750px;
}

.img-3{
    background-image: url(https://tesla-cdn.thron.com/delivery/public/image/tesla/538ac149-d103-4834-9d38-641d8ae447ef/bvlatuR/std/4096x2560/Homepage-Model-S-Desktop-LHD);
    height: 850px;
    width: 1750px;
}

.img-4{
    background-image: url(https://tesla-cdn.thron.com/delivery/public/image/tesla/ddc135ed-1638-40fb-8ab1-f8045059ecef/bvlatuR/std/4096x2560/Homepage-Model-X-Desktop-LHD);
    height: 850px;
    width: 1750px;
}

.img-5{
    background-image: url(https://tesla-cdn.thron.com/delivery/public/image/tesla/16b04537-a4be-4bf9-8637-86862a858da8/bvlatuR/std/2880x1800/_25-HP-SolarPanels-D);
    height: 850px;
    width: 1750px;
}
.img-6{
    background-image: url(https://tesla-cdn.thron.com/delivery/public/image/tesla/4a41ec0e-7316-46a8-8ce9-e2f195ba644d/bvlatuR/std/2880x1800/Homepage-SolarRoof-Desktop-Global?quality=auto-medium&format=auto);
    height: 850px;
    width: 1750px;
}
.img-7{
    background-image: url(https://tesla-cdn.thron.com/delivery/public/image/tesla/dd739764-bcaa-4263-9488-8c73bc9fb046/bvlatuR/std/0x0/dd739764-bcaa-4263-9488-8c73bc9fb046S);
    height: 850px;
    width: 1750px;
}
.solar{
    margin-left: -30px;
    margin-top: -25px;
    position: absolute;

}
.Buy:hover{
    background-color:  darkslategray;
}
 .order:hover{
    background-color: darkslategray;
 }
 footer{
    color: gray;
    margin-left: 31%;
    }
    .footer{
        display: inline;
        padding: 25px;
        margin-left: -40px;
    }



